body {
    font-family: 'Nixie One', cursive;
    color: #000;
    background: #f0f0f0;
}

ul {
    margin: 0;
    padding: 0;
}

input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #000 !important;
    opacity: 1;
    font-size: 14px;
}

input::-moz-placeholder {
    /* Firefox 19+ */
    color: #000 !important;
    opacity: 1;
    font-size: 14px !important;
}

input:-ms-input-placeholder {
    /* IE 10+ */
    color: #000 !important;
    opacity: 1;
    font-size: 14px !important;
}

input:-moz-placeholder {
    /* Firefox 18- */
    color: #000 !important;
    opacity: 1;
    font-size: 14px !important;
}

a {
    color: #000;
}

a:hover,
a:focus {
    color: #000;
    text-decoration: none;
    outline: none;
    outline-offset: none;
}

.gutter-off {
    padding-left: 0;
    padding-right: 0;
}


/*--main css start--*/

.banner {
    background-size: cover;
    position: relative;
    z-index: 5;
    text-align: center;
    height: 100vh;
}

.banner:after {
    content: "";
    background: url(../images/circle-dot.png) repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    opacity: 0.1;
}

.middle-part {
    /*     position:relative;    padding-top:91px;        margin:auto; */
    position: absolute;
    width: 100%;
    max-width: 700px;
    left: 50%;
    top: 50%;
    margin-left: -350px;
    transform: translateY(-50%);
    z-index: 8;
}

.logo {
    margin-bottom: 58px;
    display: inline-block;
}

.search-style {
    height: 69px;
    background: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 0;
    padding: 0 88px 0 34px;
    color: #000;
    font-size: 18px;
    position: relative;
    font-weight: bold;
}

.search-style:hover,
.search-style:focus {
    border: none;
    box-shadow: none;
}

.cross-icon {
    background: #fff;
    display: block;
    width: 75px;
    height: 75px;
    text-align: center;
    border-radius: 50%;
    margin: auto;
    position: relative;
}

.cross-icon img {
    position: absolute;
    left: 0;
    right: 0;
    top: 17px;
    margin: auto;
}

.form-icon {
    position: relative;
}

.searchplane {
    background: url('../images/submit.png') no-repeat;
    width: 48px;
    height: 37px;
    position: absolute;
    top: 14px;
    right: 35px;
    border: none;
    text-indent: -99999px;
    outline: none;
}

.blk-button {
    background: #000;
    color: #9c9898;
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
    display: block;
    padding: 23px 0;
    transition: all 0.4s ease-in-out;
    border: 3px solid #737373;
    border-radius: 7px;
}

.blk-button:hover {
    background: #fff;
    color: #000;
}

.blk-button:focus {
    background: #000;
    color: #9c9898;
}

.button-area {
    margin-top: 30px;
}

footer {
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    position: absolute;
    z-index: 9999;
    bottom: 0;
    width: 100%;
}

.footer-menu {
    text-align: center;
}

.footer-menu li {
    display: inline-block;
}

.footer-menu li a {
    display: block;
    text-transform: capitalize;
    text-align: center;
    font-size: 19px;
    color: #fff;
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    padding: 26px 12px;
    font-weight: bold;
    transition: all 0.4s ease-in-out;
}

.footer-menu li a:hover {
    color: #000;
}

.footer-menu li:last-child a {
    border-right: none;
}


/*--modal-style --*/

.modal-style {
    border-radius: 0;
    border: 6px solid #000;
}

.modal-title {
    display: block;
    text-align: center;
    font-size: 35px;
    color: #000;
    font-weight: normal;
    padding: 0 0 13px;
}

.inputstyle {
    border: 1px solid #a3a3a3;
    border-radius: 0;
    height: 41px;
    box-shadow: none;
    color: #000;
}

.inputstyle:hover,
.inputstyle:focus {
    box-shadow: none;
    border-color: #000;
}

.inputstyle-sml {
    border: 1px solid #a3a3a3;
    border-radius: 0;
    height: 26px;
    box-shadow: none;
    color: #000;
}

.inputstyle-sml:hover,
.inputstyle-sml:focus {
    box-shadow: none;
    border-color: #000;
}

.label-style {
    font-size: 26px;
    font-weight: normal;
    color: #000;
    margin-top: 8px;
}

.modal-bottom {
    border-top: 1px solid #e0dfdf;
    margin-top: 20px;
    padding: 20px 0 0 0;
    font-weight: bold;
    overflow: hidden;
    text-align: center;
}

.checkbox {
    position: relative;
    padding-left: 34px !important;
    box-sizing: border-box;
    margin: 0;
    text-align: left;
    overflow: hidden;
    font-size: 14px;
    font-weight: bold !important;
}

.checkbox input[type="checkbox"] {
    position: absolute;
    left: -9em;
}

.checkbox i {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #000;
    left: 0;
    top: 0px;
}

.checkbox i:before {
    content: "\f00c";
    position: absolute;
    font-family: FontAwesome;
    top: 2px;
    left: 2px;
    color: #fff;
    opacity: 0;
    font-size: 13px;
}

.checkbox input:checked + i:before {
    opacity: 1;
}

.pop-button {
    background: #000;
    color: #fff;
    text-transform: capitalize;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 34px;
    margin-bottom: 34px;
    font-size: 16px;
    text-align: center;
    padding: 12px 17px;
    border: none;
    outline: none;
    font-weight: normal;
    transition: all 0.4s ease-in-out;
    border-radius: 7px;
    border: 3px solid #737373;
}

.pop-button:hover,
.pop-button:focus {
    background: #fff;
    color: #000;
    outline: none;
}

.login-buttom {
    background: #000;
    color: #fff;
    text-transform: capitalize;
    display: block;
    margin-top: 0;
    font-size: 16px;
    text-align: center;
    padding: 9px 18px;
    width: 100%;
    border: none;
    outline: none;
    font-weight: normal;
    transition: all 0.4s ease-in-out;
    border-radius: 7px;
    border: 3px solid #737373;
    outline: none;
    float: right;
}

.face-share-button {
    text-align: center;
}

.sml-text {
    font-weight: bold;
    font-size: 14px;
    display: block;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 24px;
}

.sml-text a {
    color: #000;
    text-decoration: underline;
}

.cross-btm {
    display: block;
    text-align: right;
    cursor: pointer;
}

.flaticon-error:before {
    color: #000;
    content: "\f106";
    font-size: 28px;
    margin: 0 7px 0 0;
}

.log-caption {
    display: block;
    text-align: center;
    font-size: 16px;
    color: #000;
    font-weight: bold;
    margin-bottom: 31px;
}

.tab-content>.active,
.pill-content>.active {
    display: block;
}


/*--header--*/

header {
    background: #fff;
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;
    box-shadow: 0px 0px 13px 3px #D8D8D8;
}

.ham {
    position: relative;
    cursor: pointer;
    display: block;
    padding-top: 13px;
    padding-bottom: 0
}

.ham:before {
    font-size: 21px;
    margin-left: 0;
}

.cross {
    display: block;
    text-align: right;
    padding: 0 13px 0 0;
    cursor: pointer;
}

.cross:before {
    color: #000;
}

.inner-logo {
    padding-top: 10px;
    display: block;
    text-align: center;
}

.inner-logo img {
    margin: auto;
}


/*--off canvas navigation--*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 14;
    /*  top: 89px; */
    top: 0;
    left: 0;
    background-color: #f2efef;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 18px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}


/* Position and style the close button (top right corner) */

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}

.menu {
    padding-top: 35px;
}

.menu li {
    display: block;
}

.menu li a {
    font-size: 18px;
    color: #111111;
    transition: 0.3s;
    display: block;
    padding: 7px 0;
    transition: all 0.4s ease-in-out;
}

.menu li a:hover {
    color: #000;
}

.menu li a span {
    margin-right: 21px;
}

.nav-search {
    padding: 0 20px;
    margin-top: 25px;
}

.nav-search .form-horizontal {
    display: none;
}

.nav-search .search-box {
    margin: 0;
    width: 100%;
    display: block;
}

.search-place {
    border-left: 1px solid #d3d3d3;
    padding: 10px 15px 10px 0;
    border-right: 1px solid #d3d3d3;
}

.search-place .inner-logo {
    display: none;
}

.search-box {
    position: relative;
    display: block;
    margin-bottom: 0;
}

.search-input {
    background: #e5e1e1;
    color: #000;
    height: 42px;
    border: 1px solid #cfc9c9;
    width: 100%;
    display: block;
    position: relative;
    font-weight: bold;
    border-radius: 0;
    box-shadow: none;
    padding: 0 18px 0 59px;
    transition: all 0.4s ease-in-out;
}

.search-input:hover,
.search-input:focus {
    box-shadow: none;
    border: 1px solid #000;
}

.magni-button {
    position: absolute;
    top: 5px;
    left: 23px;
    background: url('../images/magni.png') no-repeat center center;
    width: 29px;
    height: 29px;
    text-indent: -9999px;
    border: none;
    outline: none;
}

.page-title {
    display: block;
    text-align: left;
    font-size: 13px;
    color: #111111;
    padding-top: 9px;
}

.filter {
    color: #000;
    position: relative;
    display: block;
    text-align: left;
    padding-top: 16px;
}

.filter .flaticon-nut-icon:before,
.filter .flaticon-filter:before {
    margin-left: 0px;
}

.filter:hover,
.filter:focus {
    color: #000;
}


/*--body-section--*/

.body-section {
    background: #f0f0f0;
    padding: 0 0 0;
    margin-top: 64px;
}


/*--timeline design start--*/

.time-line-area {
    max-width: 970px;
    margin: 0 auto 25px auto;
}

.time-line-box {
    /* width:32%; */
    width: 23%;
    display: inline-block;
    margin-right: 5.5px;
    margin-left: 5.5px;
    text-align: center;
    background: #fffefe;
    vertical-align: top;
    z-index?: 5;
    margin-bottom: 42px;
}

.video-raw {
    height: 142px;
    position: relative;
    display: block;
    overflow: hidden;
}

#video-controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 11px 0;
    opacity: 0;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -o-transition: opacity .3s;
    -ms-transition: opacity .3s;
    transition: opacity .3s;
    background: #000;
}

.video-raw:hover #video-controls {
    opacity: .9;
}

button {
    background: rgba(0, 0, 0, .5);
    border: 0;
    color: #EEE;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    vertical-align: top;
    display: inline-block;
}

button:hover {
    cursor: pointer;
}

.play {
    background: url(../images/play-button-sml.png) no-repeat center center;
    border: none;
    outline: none;
    width: 20px;
    height: 20px;
    text-indent: -9999px;
    margin: 0 9px;
}

.pause {
    background: url(../images/pause.png) no-repeat center center;
    border: none;
    outline: none;
    width: 20px;
    height: 20px;
    text-indent: -9999px;
    margin: 0 9px;
}

.mute {
    background: url(../images/mute.png) no-repeat center center;
    border: none;
    outline: none;
    width: 20px;
    height: 20px;
    text-indent: -9999px;
    margin: 0 9px;
}

.unmute {
    background: url(../images/unmute.png) no-repeat center center;
    border: none;
    outline: none;
    width: 20px;
    height: 20px;
    text-indent: -9999px;
    margin: 0 9px;
}

.fullscreen {
    background: url(../images/screen.png) no-repeat center center;
    border: none;
    outline: none;
    width: 20px;
    height: 20px;
    text-indent: -9999px;
    margin: 0 9px;
}

#seek-bar {
    width: 31%;
    display: inline-block;
}

#volume-bar {
    width: 10%;
    display: inline-block;
}

.video-file {}

.embed-video {
    height: 100%;
    display: none;
}

.embed-video iframe {
    width: 100%;
    height: 100%;
}

.profile-details {
    top: 11px;
    left: 11px;
    position: absolute;
}

.profile-pic {
    width: 30px;
    height: 30px;
    display: block;
}

.profile-pic img {
    max-width: 100%;
    width: 100%;
    height: 100%;
}

.profile-name {
    display: block;
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    text-shadow: 3px 1px 9px #000;
}

.time-post {
    position: absolute;
    top: 11px;
    right: 11px;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
}

.time-post a {
    text-shadow: 3px 1px 9px #000;
}

.video-icon {
    position: absolute;
    top: 45%;
    margin: auto;
    width: 100%;
    text-align: center;
    left: 0;
}

.blog-icon img {
    width: auto;
    height: auto;
}

.tme-content {
    padding: 13px 10px;
    text-align: left;
    font-size: 14px;
    color: #000;
    font-weight: bold;
}

.shareby {
    display: block;
    color: #000;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    font-size: 12px;
    padding: 8px 0;
    background: #F0F0F0;
}

.shareby:hover,
.shareby:focus {
    color: #000;
}


/*---text post--*/

.text-post-place {
    height: 142px;
    position: relative;
    display: block;
}

.text-post-place img {
    width: 100%;
    height: 100%;
}

.short-port {
    display: none;
}

.text-post-bott {
    text-transform: uppercase;
    padding: 55px 22px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 31px;
    color: #000;
    background: #ece6e6;
    border-top: 12px solid #fff;
}

.text-quote-line {
    font-size: 35px;
    display: block;
    position: relative;
    text-align: center;
    padding: 24px 135px 0;
}

.text-quote-line:before {
    height: 3px;
    width: 18%;
    background: #000;
    content: "";
    position: absolute;
    top: 41px;
    bottom: auto;
    left: 140px;
}

.text-quote-line:after {
    height: 3px;
    width: 18%;
    background: #000;
    content: "";
    position: absolute;
    top: 41px;
    bottom: auto;
    right: 140px;
}


/*---photo post--*/

.photo-post {
    height: 142px;
    position: relative;
    display: block;
}

.photo-post img {
    width: 100%;
    height: 100%;
}

.bottom-profile-details {
    bottom: 11px;
    left: 11px;
    position: absolute;
}


/*--blog post--*/

.blog-post {
    height: 142px;
    position: relative;
    display: block;
}

.blog-post img {
    width: 100%;
    height: 100%;
}

.blog-icon {
    position: absolute;
    top: 45%;
    margin: auto;
    width: 100%;
    text-align: center;
    left: 0;
}

.blog-icon img {
    width: auto;
    height: auto;
}


/*--link-post--*/

.link-post {
    position: relative;
    display: block;
}

.link-post-image {
    height: 93px;
    width: 100%;
}

.link-post-image img {
    width: 100%;
    height: 100%;
}

.link-post-content {
    background: #B7B3B3;
    text-align: left;
    font-size: 12px;
    color: #000;
    padding: 10px 13px;
    min-height: 85px;
}

.link-post-content h4 {
    color: #000;
    margin: 0 0 10px;
    font-weight: bold;
    font-size: 13px;
}

.load-button {
    background: #000;
    color: #9c9898;
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
    display: block;
    padding: 12px 0;
    transition: all 0.4s ease-in-out;
    border: 3px solid #737373;
    border-radius: 7px;
    width: 14%;
    margin: auto;
}

.load-button:hover {
    background: #fff;
    color: #000;
}


/*---mibble-short--*/

.mibble-short {
    background: #fff;
    display: block;
    /* width:40%; */
    width: 49%;
    margin: auto;
    padding: 25px 31px;
}

.five-list {
    text-align: center;
    margin-bottom: 46px;
}

.five-list li {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
}

.five-list li label {
    font-size: 15px;
}

.five-list li .checkbox i {
    left: 0;
    top: 5px;
}

.short-area-heading {
    display: block;
    text-align: center;
    font-weight: bold;
    margin: 18px 0 55px;
}

.short-area-heading2 {
    display: block;
    text-align: center;
    font-weight: bold;
    margin: 18px 0 55px;
    display: none;
}

.channel-list {}

.channel-list li {
    border-bottom: 1px solid #d4d4d4;
}

.channel-list li label {
    font-size: 18px;
    padding-left: 0 !important;
}

.channel-list li .checkbox i {
    right: 0;
    top: 0;
    left: inherit;
}

.button-list {
    text-align: center;
    margin-top: 50px;
}

.button-list li {
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    margin-left: 15px;
}


/*--home-profile-section--*/

.home-profile-section {
    background: #fff;
    /* margin-bottom:52px; */
    position: relative;
    text-align: left;
}

.home-profile-back-image {
    position: relative;
    height: 450px;
    max-height: 450px;
    display: block;
    overflow: hidden;
}

.home-profile-back-image img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.home-profile-info {
    padding-left: 26px;
    padding-right: 26px;
}

.profile-photo {
    width: 150px;
    height: 150px;
    display: inline-block;
    border-radius: 50%;
    margin-top: -79px;
    z-index: 5;
    position: relative;
}

.profile-photo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.home-profile-caption {
    font-size: 19px;
    color: #000;
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
    padding-top: 21px;
    padding-left: 22px;
}

.edit-button {
    background: #000;
    color: #9c9898;
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
    display: inline-block;
    font-weight: bold;
    padding: 8px 11px;
    transition: all 0.4s ease-in-out;
    border: 3px solid #737373;
    border-radius: 7px;
    float: right;
    margin-top: 25px;
}

.edit-button i {
    display: none;
}

.edit-button:hover {
    background: #fff;
    color: #000;
}

.home-profile-name {
    font-size: 29px;
    font-weight: bold;
    color: #000;
    margin-bottom: 27px;
    display: block;
}

.home-three-list {
    text-align: left;
    display: inline-block;
    margin-bottom: 15px;
}

.home-three-list li {
    display: inline-block;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    color: #00;
    margin-right: 36px;
}

.home-three-list li span {
    display: block;
    color: #4b4b4b;
}

.rightdropdown {
    text-align: center;
    display: inline-block;
    cursor: pointer;
    margin-top: 18px;
}

.home-dropdown {
    background: #fafafa;
    box-shadow: none;
    border: none;
    border-radius: 0;
    padding: 37px 25px;
}

.info-box {
    font-size: 15px;
    color: #868686;
    font-weight: bold;
    margin-bottom: 40px;
}

.info-box a {
    color: #000;
    text-decoration: underline;
}

.info-box h3 {
    color: #000;
    font-weight: bold;
    margin-top: 0;
}

.social-icon-list {}

.social-icon-list li {
    display: block;
    margin-bottom: 13px;
}

.social-icon-list li a {
    color: #000;
    font-size: 15px;
    text-decoration: underline;
    display: block;
}

.social-icon-list li a .fa-facebook {
    text-decoration: none;
    color: #0071bc;
    font-size: 35px;
    margin-right: 15px;
    vertical-align: middle;
}

.social-icon-list li a .fa-twitter {
    text-decoration: none;
    color: #65bbf2;
    font-size: 35px;
    margin-right: 15px;
    vertical-align: middle;
}

.two-list-all {
    text-align: center;
    padding: 0 10px;
    margin-bottom: 12px;
}

.two-list-all li {
    display: inline-block;
    margin-right: 17px;
}

.two-list-all li:last-child {
    margin-right: 0px;
}

.two-list-all li a {
    display: block;
    font-size: 12px;
    color: #000;
    font-weight: bold;
}

.two-list-all li i {
    font-size: 16px;
    vertical-align: top;
    color: #838383;
    margin-right: 3px;
}


/*--edit profle--*/

.change-list {
    text-align: center;
}

.change-list li {
    display: inline-block;
    margin: 0 15px;
    /* width:44%; */
    width: 43%;
}

#fileselector {
    margin: 10px;
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

#upload-file-selector {
    display: none !important;
}

#video,
#img {
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 0;
    height: 72px;
    left: 0;
    overflow: hidden;
    filter: alpha(opacity=0);
    /* IE < 9 */
    opacity: 0;
}

.margin-correction {
    margin-right: 10px;
}

.black-btm {
    background: #000;
    color: #fff;
    text-transform: capitalize;
    display: inline-block;
    margin-top: 0;
    font-size: 15px;
    text-align: center;
    padding: 12px 9px;
    font-weight: bold;
    /*  width: 67%; */
    border: none;
    outline: none;
    transition: all 0.4s ease-in-out;
    border-radius: 7px;
    border: 3px solid #737373;
}

.black-btm:hover,
.black-btm:focus {
    background: #fff;
    color: #000;
}

.black-btm i {
    display: none;
}

.change-profile-photo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
}

.change-profile-photo img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.form-place {
    margin-top: 45px;
}

.textarea-style {
    border: 1px solid #a3a3a3;
    border-radius: 0;
    height: 100px;
    box-shadow: none;
    color: #000;
    resize: none;
}

.textarea-style:hover,
.textarea-style:focus {
    box-shadow: none;
    border-color: #000;
}

.mediun-size {
    font-size: 17px;
    font-weight: bold;
}

.privatebold {
    font-weight: bold;
    color: #000;
    margin-top: 61px;
}

.privatespan {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 16px;
    display: block;
}


/*--setting-place--*/

.setting-place {
    margin-top: 45px;
}

.setting-heading {
    background: #e7e7e7;
    color: #000;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    display: block;
    padding: 7px 18px;
}

.setting-heading:hover {
    color: #000;
}

.setting-list {
    margin: 38px 0;
}

.setting-list li {
    list-style: none;
    margin-bottom: 33px;
}

.setting-list li:last-child {
    margin-bottom: 0;
}

.setting-list li i {
    text-align: right;
    display: inline-block;
    float: right;
}

.setting-list li span {
    text-align: right;
    display: inline-block;
    float: right;
    font-size: 14px;
    font-weight: bold;
}

.setting-list li a {
    color: #000;
    font-size: 15px;
    font-weight: bold;
    display: block;
}

.gaph {
    margin-bottom: 33px;
}

.settingbuttonlist {}

.settingbuttonlist li {
    display: block;
    border-top: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
}

.settingbuttonlist li:last-child {
    border-top: none;
}

.settingbuttonlist li a {
    color: #000;
    font-size: 17px;
    font-weight: bold;
    padding: 14px 0;
    display: block;
}

.privacy-heading {
    background: #e7e7e7;
    font-size: 18px;
    font-weight: bold;
    display: block;
    padding: 7px 18px;
    float: left;
    width: 100%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 21px;
    float: right;
    margin-bottom: 0;
    margin-top: 2px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #000;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(37px);
    -ms-transform: translateX(37px);
    transform: translateX(37px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.privacy-place {
    margin-top: 29px;
}

.block-list {}

.block-list li {
    display: block;
    border-bottom: 1px solid #d4d4d4;
    padding: 21px 0;
}

.blockedphoto {
    width: 70px;
    height: 70px;
    display: inline-block;
    vertical-align: middle;
}

.blockedphoto img {
    width: 100%;
    height: 100%;
}

.blockedphotoname {
    color: #000;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    padding-left: 18px;
}

.noti-list {}

.noti-list li {
    display: block;
    border-bottom: 1px solid #d4d4d4;
    padding: 8px 0;
}


/*--massages--*/

.messages-heading-area {
    display: block;
}

.message-heading {
    display: block;
    margin: 18px 0 55px;
    font-weight: bold;
}

.add-button {
    text-align: right;
    display: block;
    border: none;
    color: #000;
    font-size: 35px;
    font-weight: normal;
}

.add-button:hover,
.add-button:focus {
    color: #000;
}

.message-pic {
    width: 50px;
    height: 50px;
    overflow: hidden;
    text-align: center;
    display: inline-block;
    position: relative;
}

.message-pic img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.message-pic img:nth-child(2) {
    position: absolute;
    width: 65px;
    height: 65px;
    top: 8px;
    right: 0;
    left: inherit;
}

.message-pic img:nth-child(3) {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 17px;
    right: 0;
    left: inherit;
}

.messagedetails {
    display: inline-block;
    vertical-align: top;
    margin-left: 35px;
}

.messagename {
    font-size: 14px;
    color: #000;
    display: block;
    font-weight: bold;
}

.message-short {
    display: block;
    color: #7a7979;
    font-weight: bold;
    font-size: 13px;
}

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #000;
    font-size: 17px;
    font-weight: bold;
}

.nav-tabs {
    text-align: center;
    border: none;
    margin-bottom: 30px;
}

.nav-tabs>li {
    display: inline-block;
    float: none;
    margin-right: 64px;
}

.nav-tabs>li:last-child {
    margin-right: 0;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: none;
    border: none;
    border-bottom: 3px solid #000;
    border-bottom-color: #000;
}

.liked-image {
    float: right;
    width: 20%;
    height: 80px;
}

.liked-image img {
    width: 100%;
    height: 100%;
}

.liked-video {
    float: right;
    width: 20%;
    height: 80px;
    position: relative;
    overflow: hidden;
    display: none;
}

.liked-video iframe,
.liked-video video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: 0;
}


/*--photo post--*/

.post-place {
    width: 100%;
    background: #fff;
}

.photo-image {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

.photo-image img {
    width: 100%;
    height: 598px;
}

.photo-caption {
    padding: 21px;
    font-size: 16px;
    color: #000;
    font-weight: bold;
}

.black {
    color: #000;
}

.margin-top {
    margin-top: 15px;
    font-size: 13px;
}

.three-dropdown {
    color: #000;
    font-size: 24px;
    display: block;
}

.three-dropdown:hover,
.three-dropdown:focus {
    color: #000;
}

.post-profile-details {
    margin-top: 15px;
}

.mobile-view {
    padding: 0 21px 21px;
    display: none;
}

.post-profile-details .messagedetails {
    margin-left: 10px;
}

.dropdown-menu>li>a {
    color: #000;
    white-space: nowrap;
    font-weight: bold;
    padding: 3px 10px;
}

.dropdown-menu {
    right: 0;
    top: inherit;
    text-align: center;
}

.dropdown-menu-large {
    text-align: left;
}

.dropdown-menu>li:first-child>a {
    color: #e70000;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #000;
}

.dropdown-menu:before {
    border-bottom: 10px solid #cccccc;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: "";
    position: absolute;
    top: -10px;
    /* right: 10px; */
    left: 10px;
}

.user-drop>li>a {
    color: #000;
    text-transform: capitalize;
}

.user-drop>li:first-child>a,
.user-drop>li:nth-child(2)>a {
    color: #e70000;
}

.three-list {
    margin-top: 26px;
    text-align: center;
}

.three-list li {
    display: inline-block;
}

.three-list li a {
    color: #000;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    border-right: 1px solid #000;
    padding: 0 22px;
    display: block;
}

.three-list li:first-child a {
    padding-left: 0;
}

.three-list li:last-child a {
    padding-right: 0;
    border: none;
}

.three-list-pic {
    margin-top: 26px;
    text-align: center;
}

.three-list-pic li {
    display: inline-block;
}

.three-list-pic li a {
    color: #000;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    padding: 0 22px;
}

.three-list-pic li i {
    font-size: 20px;
    vertical-align: middle;
    margin-right: 7px;
}

.three-list-pic li:first-child a {
    padding-left: 0;
}

.three-list-pic li:last-child a {
    padding-right: 0;
    border: none;
}

.views {
    font-weight: bold;
    color: #000;
    display: block;
    margin-top: 35px;
    font-size: 13px;
}

.sponser-heading {
    font-size: 18px;
    font-weight: bold;
    margin-top: 24px;
}

.add-list {}

.add-list li {
    display: block;
    margin-bottom: 31px;
    max-width: 300px;
    width: 100%;
    height: 250px;
}

.add-list li img {
    width: 100%;
    height: 100%;
}

.comment-section {
    background: #f6f6f6;
    margin: 0 21px;
    padding: 21px;
}

.media {
    font-weight: bold;
    color: #000;
}

.media-left img {
    width: 64px;
    height: 64px;
}

.comment-edit-list {
    margin: 8px 0;
    border-top: 1px solid #e8e8e8;
}

.comment-edit-list li {
    display: inline-block;
}

.comment-edit-list li:first-child a {
    padding: 0 10px 0 0;
}

.comment-edit-list li:last-child a {
    color: #474747;
}

.comment-edit-list li a {
    color: #274cee;
    padding: 0 10px;
    border-right: 1px solid #e8e8e8;
    font-size: 12px;
}

.media-heading {
    font-weight: bold;
    color: #000;
    display: inline-block;
    text-decoration: underline;
}

.photo-image .owl-theme .owl-controls .owl-buttons .owl-prev {
    left: -5px;
    top: 35%;
    padding: 48px 26px;
    background: #e3e3e3 url(../images/prev-btm.png) no-repeat center;
    transform: translateX(-54px);
    transition: all 0.4s ease-in-out;
}

.photo-image .owl-theme .owl-controls .owl-buttons .owl-next {
    right: -5px;
    top: 35%;
    padding: 48px 26px;
    background: #e3e3e3 url(../images/next-btm.png) no-repeat center;
    transform: translateX(54px);
    transition: all 0.4s ease-in-out;
}

.photo-image:hover .owl-theme .owl-controls .owl-buttons .owl-prev {
    transform: translateX(0);
}

.photo-image:hover .owl-theme .owl-controls .owl-buttons .owl-next {
    transform: translateX(0);
}

.owl-pagination {
    display: none;
}

.owl-theme .owl-controls .owl-buttons div {
    position: absolute;
    z-index: 8;
    border-radius: 0;
    opacity: 1;
}

.first-half-image-post {
    display: block;
}

.first-half-image-post img {
    height: 598px;
    width: 100%;
    max-width: 100%;
}

.first-half-content-post {
    display: block;
    background: #ece6e6;
    padding: 30px 22px;
    font-size: 15px;
    font-weight: bold;
    color: #000;
}

.first-half-heading {
    margin-top: 0;
    font-weight: bold;
}

.post-link {
    font-weight: bold;
    padding-top: 15px;
}

.text-post-half {}

.text-post-half img {
    width: 100%;
    height: 598px;
    max-width: 100%;
}

.text-post-half-part {
    display: block;
    background: #000;
    padding: 30px 22px;
    font-size: 15px;
    font-weight: bold;
    color: #CECECE;
    height: 598px;
}

.text-post-cont {
    border-bottom: 3px solid #CECECE;
    padding-bottom: 42px;
}

.blog-heading {
    font-weight: bold;
    padding: 21px;
    font-size: 25px;
    line-height: 40px;
}

.video-file-place video {
    width: 100%;
}

.post-linl-list {
    text-align: center;
}

.post-linl-list li {
    display: inline-block;
    vertical-align: top;
    margin-right: 38px;
}

.post-linl-list li a.active {
    color: #b5b5b5;
}

.post-linl-list li:last-child {
    margin-right: 0;
}

.post-linl-list li a {
    color: #000;
    display: block;
    font-size: 25px;
}


/*--post edit--*/

.channel-dropdown {
    margin-bottom: 20px;
    margin-top: 20px;
    border-top: 1px solid #aba7a7;
    border-bottom: 1px solid #aba7a7;
}

.channel-dropdown a {
    padding: 18px 0;
    font-size: 18px;
    color: #6d6d6d;
    font-weight: bold;
    display: block;
}

.social-place {
    margin: 36px 0 0;
}

.radiobox {
    position: relative;
    padding-left: 0px !important;
    box-sizing: border-box;
    margin: 0;
    text-align: left;
    display: block;
    overflow: hidden;
    font-size: 18px;
    font-weight: bold;
    font-weight: bold !important;
}

.radiobox input[type="radio"] {
    position: absolute;
    left: -9em;
}

.channel-list {}

.radiobox i {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #000;
    border-radius: 50%;
    right: 0;
    top: 0px;
}

.radiobox i:before {
    content: "\f00c";
    position: absolute;
    font-family: FontAwesome;
    top: 2px;
    left: 3px;
    color: #fff;
    opacity: 0;
    font-size: 10px;
}

.radiobox input:checked + i:before {
    opacity: 1;
}

.social-list {}

.social-list li {
    display: block;
    margin-bottom: 15px;
}

.social-list li .checkbox i {
    right: 0;
    left: inherit;
    border-radius: 50%;
}

.social-list li .checkbox i:before {
    left: 3px;
    font-size: 10px;
}

.social-list li .checkbox {
    font-size: 18px;
    padding-left: 0 !important;
}

.social-list li .checkbox span {
    display: inline-block;
    margin-right: 17px;
}

.up-btm {
    color: #000;
    font-size: 18px;
    font-weight: bold;
    padding: 18px;
}

.up-btm i {
    font-size: 25px;
}

.orblack {
    background: #000;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    padding-top: 9px;
    text-transform: uppercase;
    margin-top: 24px;
}

.emb-btm {
    color: #000;
    font-size: 18px;
    font-weight: bold;
    padding: 18px;
    margin-top: 10px;
    display: block;
    text-align: right;
}

.emb-btm:hover,
.emb-btm:focus {
    color: #000;
}

.emb-btm i {
    font-size: 25px;
}

.postcontent-list {
    display: block;
    font-size: 16px;
    font-weight: bold;
}

.postcontent-list p {
    display: inline-block;
    vertical-align: bottom;
    padding-right: 12px;
}

.postcontent-list .radio {
    display: inline-block;
}

.postcontent-list .radiobox i {
    left: 0;
}

.postcontent-list .radiobox {
    padding-left: 29px !important;
}


/*--revenue--*/

.revenue-list {}

.revenue-list li {
    list-style: none;
    margin-bottom: 33px;
}

.revenue-list li a {
    color: #000;
    font-size: 20px;
    font-weight: bold;
    display: block;
}

.revenue-list li i {
    text-align: right;
    display: inline-block;
    float: right;
}

.panel-body {
    padding: 0;
}

.panel-default>.panel-heading {
    color: #000;
    font-size: 17px;
    font-weight: bold;
    background-color: #fff;
    border-color: transparent;
}

.panel-title {
    font-size: 20px;
    font-weight: bold;
}

.panel-title a:hover,
.panel-title a:focus {
    color: #000;
}

.panel-body {
    font-size: 14px;
    font-weight: bold;
}

.panel-title > a:before {
    float: right !important;
    font-family: FontAwesome;
    content: "\f055";
    padding-right: 5px;
}

.panel-title > a.collapsed:before {
    float: right !important;
    content: "\f056";
}

.panel-title > a:hover,
.panel-title > a:active,
.panel-title > a:focus {
    text-decoration: none;
}

.face-blue {
    color: #0071bc;
    display: inline-block;
    font-size: 45px;
}

.twi-blue {
    color: #65bbf2;
    display: inline-block;
    font-size: 45px;
    margin-right: 10px;
}

.select-style {
    border: 1px solid #a3a3a3;
    border-radius: 0;
    height: 41px;
    box-shadow: none;
    color: #000;
    position: relative;
    background: url('../images/drop-icon.png') no-repeat 97% center;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select-style:hover,
.select-style:focus {
    box-shadow: none;
    border-color: #000;
}

.datestyle {
    border: 1px solid #a3a3a3;
    border-radius: 0;
    height: 41px;
    box-shadow: none;
    padding: 0 15px;
    outline: none;
    width: 100%;
    color: #000;
    position: relative;
    background: url('../images/date-icon.png') no-repeat 97% center;
}

.datestyle:hover,
.datestyle:focus {
    box-shadow: none;
    border-color: #000;
}

.left-gutter-off {
    padding-left: 0;
}

.right-gutter-off {
    padding-right: 0;
}

.filter-btm {
    background: #000;
    color: #fff;
    text-transform: capitalize;
    display: block;
    margin-top: 0;
    font-size: 21px;
    text-align: center;
    padding: 6px 0;
    width: 21%;
    border: none;
    outline: none;
    font-weight: normal;
    transition: all 0.4s ease-in-out;
    border-radius: 7px;
    border: 3px solid #737373;
    outline: none;
}

.filter-btm:hover,
.filter-btm:focus {
    background: #fff;
    color: #000;
    outline: none;
}

.after-search-place {
    margin-top: 20px;
}

.earinngs-list {}

.earinngs-list li {
    display: inline-block;
    vertical-align: top;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    padding: 19px 13px;
    color: #c0c0c0;
    width: 32%;
}

.earinngs-list li span {
    display: block;
    color: #000;
    display: block;
    text-transform: uppercase;
    font-size: 12px;
}

.monyh-box {
    margin-top: 20px;
}

.refer-by {
    text-align: left;
    margin-bottom: 29px;
    display: block;
}

.refer-by .referd-name {
    display: block;
    font-size: 16px;
    font-weight: bold;
}

.refer-by .messagedetails {
    margin-left: 10px;
}


/*--following--*/

.folow-button {
    background: #d10707;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
    display: inline-block;
    font-weight: bold;
    padding: 8px 11px;
    transition: all 0.4s ease-in-o481 border: 2px solid #000;
    border-radius: 7px;
    float: right;
    margin-top: 25px;
}

.folow-button i {
    color: #fff;
    display: none;
}

.inner-footer {
    border-top: none;
    position: absolute;
    z-index: 9999;
    bottom: 0;
    padding: 14px 0;
    width: 100%;
    background: #000;
}

.inner-footer-menu {
    text-align: center;
    padding: 18px 0;
}

.inner-footer-menu li {
    display: inline-block;
}

.inner-footer-menu li a {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding: 0 10px;
}

.sponser-place {
    margin-top: 39px;
}

.sponser-place-add {
    margin-bottom: 39px;
    margin-left: 28px;
}

.sponser-place h4 {
    font-weight: bold;
    margin-top: 0;
}

.sponser-list {}

.sponser-list li {
    display: inline-block;
    max-width: 300px;
    /*  margin-right: 15px; */
    margin-right: 0px;
    height: 250px;
    width: 100%;
}

.sponser-list li img {
    width: 100%;
    height: 100%;
}

.hidden-box {
    border: 1px solid #d3d3d3;
    padding: 15px;
    margin: 24px 0;
    height: 450px;
    overflow-x: hidden;
}

.continue-btm {
    text-align: center;
}

.continue-btm li {
    display: inline-block;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.addvertisement {
    margin-bottom: 15px;
    max-width: 468px;
    height: 60px;
    width: 100%;
    margin: 15px auto;
}

.addvertisement img {
    width: 100%;
    height: 100%;
}

.top-addvertisement {
    max-width: 468px;
    height: 60px;
    width: 100%;
    margin: 15px auto;
}

.top-addvertisement img {
    width: 100%;
    height: 100%;
}

.margin-half {
    margin-top: 40px;
}

.bottom-footer {
    margin-top: 30px;
    padding: 12px 0;
    color: #000;
    font-weight: bold;
    font-size: 13px;
}

.bottom-footer-list {}

.bottom-footer-list li {
    display: inline-block;
}

.bottom-footer-list li a {
    color: #000;
    font-size: 13px;
    display: block;
    padding: 0 21px 0 0;
    text-transform: uppercase;
}


/*---copy right--*/

.copy-right {
    margin-bottom: 30px;
}

.copy-right li {
    display: inline-block;
    vertical-align: top;
    margin-right: 23px;
    position: relative;
}

.copy-right li a {
    display: block;
}

.copy-right-list {
    margin-top: 42px;
}

.copy-right-list >li {
    display: block;
    position: relative;
}

.copy-right-list >li .copy-fit {
    position: absolute;
    top: 41px;
    right: 0;
}

.copy-right-list >li .time-line-box {
    width: 47%;
    display: block;
    margin-left: 0;
    margin-right: 0;
}

.copy-right-list >li >span {}

.reffer-icon {
    position: relative;
    display: block;
}

.reffer-icon .inputstyle {
    padding: 0 50px;
}

.reffer-icon:before {
    content: "";
    background: url('../images/link.png') no-repeat;
    width: 20px;
    height: 20px;
    left: 15px;
    position: absolute;
    top: 10px;
}

.hidden-element .radiobox,
.hidden-element2 .radiobox {
    padding-left: 34px !important;
}

.hidden-element .radiobox i {
    top: 12px;
    left: 0;
}

.hidden-element2 .radiobox i {
    top: 43px;
    left: 0;
}

input[disabled] {
    cursor: default;
    background: #dadada;
}

.download-list {}

.download-list li {
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    margin-right: 18px;
}

.download-list li span {
    vertical-align: middle;
}

.paypal-place,
.chk-place,
.wire-place {
    margin: 18px 0 0;
    background: #fbf9f9;
    padding: 19px 16px;
}

.table th,
.table td {
    font-size: 12px;
}

.table {
    table-layout: fixed;
}

.comments-button {
    border: 1px solid #c8c8c8;
    border-radius: 30px;
    padding: 10px 24px;
    font-size: 14px;
    text-align: center;
    display: block;
    width: 200px;
    margin: 0 auto;
    transition: all 0.4s ease-in-out;
}

.comments-button:hover {
    background: #c3c1c3;
}

.comments-button i {
    text-align: left;
    display: inline-block;
    float: left;
    line-height: 27px;
}

.single-add {
    width: 300px;
    height: 250px;
    margin: 0 auto 29px auto;
    display: none;
}

.single-add img {
    width: 100%;
    height: 100%;
}
/*---auto complete design--*/
 .searchres {
    margin-left: 0px;
    width: 100%;
    border: #524F4F 1px solid;
    position: absolute;
    background: #000;
    z-index: 999;
    color: #fff;
    height:188px;
    overflow-x: hidden;
}

.img {
    float: left;
    margin: 5 5 5 5px;
}

.search_box {
    width: 400px;
    height: 35px;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    font-family: verdana;
    color: black;
    font-size: 15px;
}

.name {
    margin-top: 14px;
}

.user_div {
    clear: both;
    border-bottom: #2B2B2B 1px solid;
    color: #fff;
    font-size: 15px;
    display: block;
    margin: 1px;
    padding: 10px;
	text-align: left;
    width: 100%;
    vertical-align: top;
	transition:all 0.4s ease-in-out;
}

.user_div  img{
width: 40px !important;
    height: 40px !important;
    float: none !important;
    display: inline-block !important;
    text-align: left !important;
    border-radius: 0 !important;
	vertical-align: middle;
}

.user_div:hover {
    background: #171717;
    color: #fff;
    cursor: pointer;
}

.no_data {
    width: 100%;
    color: #fff;
    font-size: 15px;
}

.name {
    float: none;
    margin: 0 0 0 10px;
    display: inline-block;
}

.cntry {
    margin: 0 0 0 50px;
    font-size: 13px
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}    